<h1>
  <code>observable-webworker</code>
  Demo
</h1>

Select file to compute SHA-256 sum of, in webworker:
<input type="file" (change)="calculateSha256($event)" />

<h3>Events:</h3>
<ol>
  <li *ngFor="let event of eventList$ | async">{{ event }}</li>
</ol>

<p>
  Note if you select a particularly large file (>1GB) you will have time to select another file and see that the
  original worker is terminated and a new worker is created for the new file. This is because the main thread uses a
  <code>switchMap</code>
  , but if this behaviour was not desired, simply swapping in a
  <code>mergeMap</code>
  would allow both files to complete hashing.
</p>
